/*

Template 2105 Input

http://www.tooplate.com/view/2105-input
	
*/

/* Defino variables globales que van a representar la paleta de colores de la página web. Las mismas van a poder ser llamadas desde cualquier lado*/
:root{
  --gold:#D4AF37;
  --wine:#800020;
  --sgray:#333333
}

html {
  font-size: 17px;
}

body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  color: white;
  overflow-x: hidden;
  background-color: #000;
}

.tm-site-title {
  font-size: 4rem;
  text-align: center;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding-top: 35px;
  padding-bottom: 35px;
}

a {
  color: #FFF;
  transition: all 0.3s ease;
}
a:hover,
a:focus {
  color: #9CF;
  text-decoration: none;
}

.tm-white-text {
  color: white;
}

.tm-white-text:hover,
.tm-white-text:focus {
  color: #b0afaf;
}

.tm-form-title {
  font-size: 2.1rem;
  line-height: 1.4;
}

.container {
  width: 100%;
}

.row,
ul,
li:last-child {
  margin-bottom: 0;
}

.tm-mb-35 {
  margin-bottom: 35px;
}

.tm-mb-50 {
  margin-bottom: 50px;
}

.tm-container-max-800 {
  max-width: 800px;
}

.tm-mb-35 {
  margin-bottom: 35px;
}

.tm-home-mt {
  margin-top: 140px;
}

.tm-home-left {
  max-width: 400px;
}

.tm-home-list {
  max-width: 292px;
  margin-left: auto;
  margin-right: 0;
}

ul.tm-home-list:not(.browser-default) {
  padding: 50px 45px;
}

.tm-home-list li {
  margin-bottom: 30px;
}

.tm-home-list li:last-child {
  margin-bottom: 0;
}

.tm-home-container {
  max-width: 805px;
  margin-bottom: 500px;
}

#home {
  background-image: url(../img/input-bg-05.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}

#survey {
  background-image: url(../img/input-bg-06.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}

/* Actualizo la imagen de fondo en el template de registro*/
#register {
  padding-top: 180px;
  background-image: url("../../static/media/img/obelisco_recortado.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 30%;
  color: black;
}

#application {
  background-image: url(../img/input-bg-03.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  color: black;
}

#login {
  overflow: hidden;                             /*Oculta los elementos que se desborden de los limites del elemento*/
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 0;                                   /* Defino la profundidad del elemento.Este mismo se mostrará por abajo de cualquiera >0*/
}

/* Este elemento será aquel al cual JS le aplicará todas las modificaciones para asi realizar la animación*/
#bg-fade {
  position: absolute;
  top: 0;left: 0;right: 0;bottom: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
  z-index: 1;                                   /* Defino la profundidad del elemento. Este mismo se mostrará por abajo de cualquiera >1*/
  transition: opacity 1s;                       /* Me va a permitir agregar un efecto de transicion de 1s cuando la propiedad opacidad sufra un cambio*/
}

#register .container {
  max-width: 900px;
  padding: 5px;
}

/* Configuro la columna, utilizando 'Flexbox', para que el icono y el texto se encuentren centrados*/
#register header{
  display: flex;                /* Convierto el header en un contenedor flex para asi poder alinear y distribuir mejor los elementos en el*/
  flex-direction: column;       /* Hago que los elementos en el se coloquen verticalmente, uno abajo de otro*/
  margin-right: 15%;
  align-items: center;          /* Centro horizontalmente los items*/
  text-align: center;
}
/* Estilo del icono de la página a utilizar en el template que contenga un elemento con el id 'register'*/
#register #icon-img{
  width: 300px;
  margin-top: 40%;
}

/* Texto introducción de registro*/
#register h4{
  display: block;
  margin: auto;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}

/*Personalizo las entradas de texto que perteneces al registro y tienen el fondo de color vino*/
/*Registro*/
#register .input-field{
  display: block;
  margin: 5%;
  border: none;
}

#application .container {
  max-width: 800px;
}

#login .container {
  position: relative;
  max-width: 1000px;
  margin-top: 238px;
  z-index: 2;                                 /* Defino la profundidad del elemento. Este mismo se mostrará por abajo de cualquiera >2*/
}

/* Estilo del icono de la página*/
#icon-img{
  width: 250px;
  height: auto;
  display: block;
  margin: auto;
}

.tm-signup-form {
  max-width: 350px;
  margin-right: 0;
  margin-left: auto;
}

/* Personalizo la columa izqueirda del registro que va a contener las entradas de texto,checkbox y boton*/
.tm-register-col-l {
  display: flex;                      /* Convierto el div que esta vinculado a la clase '.tm-register-col-l' en un contenedor flex para asi poder alinear y distribuir mejor los elementos en el*/
  flex-direction: column;             /* Hago que los elementos en el se coloquen verticalmente, uno abajo de otro*/
  flex-wrap: wrap;                    /* Si se colocan muchos elementos se van a ajustar al contenedor. MOMENTANEO, PUEDE CAMBIAR*/
  justify-content: space-evenly;      /* Muestra los elementos con el mismo espacio entre ellos*/
  align-content: space-evenly;        /* Acomoda los elementos a traves de lineas y estas mismas se van a distribuir dejando el mismo espacio entre la parte superior, inferior y entre*/
  max-width: 350px;
  margin-top: 5%;
  margin-left: 5%;
  margin-bottom: 5%;
}

.tm-register-col-r {
  max-width: 400px;
  margin-right: 0;
  margin-left: auto;
}

.tm-form-description {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.tm-bg-black {
  background-color: rgba(0, 0, 0, 0.5);
}

/* Creo una nueva clase que va a contener el color del fondo de la pestaña del login derecha(la que contiene el icono) -> #800020(Vino)*/
.tm-bg-wine{
  background-color: rgba(128, 0, 32, 0.9);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /*Se aplica doble sombra al fondo derecho del login*/
}
/* Creo una nueva clase que va a contener el color del fondo de la pestaña del login derecha(la que contiene el icono) -> #D4AF37(Dorado)*/
.tm-bg-gold{
  background-color: rgba(212, 175, 55,0.9);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /*Se aplica doble sombra al fondo izquierdo del login*/
}

.tm-form-block {
  padding: 35px 30px;
  margin-top: 35px;
}

.tm-bg-white {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
}

.tm-form-pad-big {
  padding: 60px 100px;
}

/*Modifico los colores de los checkbox que le permitirán al usuario elegir que tipo de cuenta desea*/

[type="radio"]:not(:checked) + span:before,
[type="radio"]:not(:checked) + span:after {
  border: 2px solid white;
}

/* Borde del checkbox al ser tildado*/
[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:before,
[type="radio"].with-gap:checked + span:after {
  border: 2px solid var(--gold);
}

/*Color del checkbox luego de ser tildado*/
[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:after {
  background-color: var(--gold);
}
[type="radio"]:not(:checked) + span,
[type="radio"]:checked + span {
  padding-left: 40px;
}

label {
  color: white;
}

[type="radio"]:not(:checked) + span,
[type="radio"]:checked + span {
  font-size: 1rem;
}

[type="radio"] + span:before,
[type="radio"] + span:after {
  width: 20px;
  height: 20px;
}

li {
  margin-bottom: 1rem;
}

textarea,
input {
  color: white;
}

textarea {
  border-color: white;
  height: 8rem;
}

/*Cuando se ingrese un texto va a sobresalir una linea marcado gris*/
textarea:focus {
  outline-color: #ccc;
}

[type="checkbox"].filled-in:checked + span:not(.lever):after {
  border-color: white;
  background-color: transparent;
}

[type="checkbox"].filled-in:not(:checked) + span:not(.lever):after {
  border-color: white;
}

[type="checkbox"].filled-in:checked + span:not(.lever):after,
[type="checkbox"].filled-in:not(:checked) + span:not(.lever):after {
  width: 25px;
  height: 25px;
}

[type="checkbox"].filled-in:checked + span:not(.lever):before {
  width: 10px;
  height: 17px;
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
}

.select-wrapper input.select-dropdown,
.dropdown-content li > a,
.dropdown-content li > span {
  color: white;
}

.dropdown-content {
  background-color: rgba(0, 0, 0, 0.9);
}

.select-wrapper .caret {
  fill: white;
  border: 1px solid white;
  width: 30px;
  height: 30px;
}

/*Personalizo aquellos las entradas de texto que comparten las clases '.tm-bg-gold' y '.input-field'*/
/*Login*/
.tm-bg-gold .input-field input{
  text-align: center;
  margin-top: 0;
  color: white;
  background-color: var(--wine);
  border: none;
}

/*Los efectos aplicados, utilizando pseudoclases, se verán aplicados en las entradas de texto de Login como tambien de registro*/
.input-field input::placeholder{
  color: white;
}

/* Personalizo la pseudoclase 'focus' de los 'input' utilizados. Cuando una entrada de texto este activa se va a colocar un subrayado de 2px color dorado*/
.input-field input:focus{
  border-bottom: 2px solid var(--gold) !important;     /*Utilizo el !important en este atributo asi pisa cualquier tipo de cambio que se realice en cualquier otro archivo css, como por ejemplo en "materalize"*/
  box-shadow: none !important;                                /*"               "*/
}

/*Le agregue un atributo a los botones que hace que se desplieguen en bloque y que el margen se decia automaticamente para centrarlo*/
/*Eliminado la linea que definia el fondo negro*/
.btn-large {
  display: block;
  margin: auto;
  padding: 0 77px;
  border-radius: 5px;
  text-transform: capitalize;
  font-size: 1rem;
}

.btn-large:hover,
.btn-large:focus {
  background-color: var(--sgray);
  color: white;
  font-weight: bold;
  transform: translateY(-3px);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.btn-large:active{
  transform: translateY(3px);
}

/* Esta clase va a ser utilziara para los botones del registro*/
.btn-large-gold{
  display: block;
  background-color: var(--gold);
  color: white;
}

/* Esta clase va a ser utilizada para los botones del inicio de sesión */
.btn-large-wine{
  background-color:  var(--wine);
  color: white;
  font-size: 1.1rem;
}

.btn-large-white {
  background-color: white;
  color: black;
  font-size: 1.1rem;
}

.btn-large-white:hover,
.btn-large-white:focus {
  background-color: #ccc;
  color: black;
}

.tm-footer-link {
  color: white;
}

.tm-footer-link:hover,
.tm-footer-link:focus {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}

input[type="text"]:not(.browser-default).tm-input-white-bg,
input[type="email"]:not(.browser-default).tm-input-white-bg {
  border: none;
  background-color: white;
  color: black;
  border-radius: 5px;
  font-size: 1.2rem;
  padding: 6px 15px;
  box-sizing: border-box;
}

.select-wrapper input.select-dropdown.tm-bg-white {
  background-color: white;
}

.tm-form-white .select-wrapper input.select-dropdown {
  color: black;
  background-color: white;
  border-radius: 5px;
  padding: 0 10px;
}

.tm-form-white .select-wrapper .caret {
  fill: black;
  border: 1px solid black;
  pointer-events: none;
  z-index: 1;
}

.tm-form-white .dropdown-content {
  background-color: white;
  border-radius: 10px;
  color: black;
}

.tm-form-white .select-wrapper input.select-dropdown,
.tm-form-white .dropdown-content li > a,
.tm-form-white .dropdown-content li > span {
  color: black;
}

.tm-form-white textarea,
.tm-form-white input,
.tm-form-white label {
  color: black;
}

.tm-form-white ::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 1; /* Firefox */
}

.tm-form-white :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: black;
}

.tm-form-white ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: black;
}

.tm-form-white [type="radio"]:not(:checked) + span:before,
.tm-form-white [type="radio"]:not(:checked) + span:after {
  border: 1px solid black;
  background: white;
}

.tm-font-big [type="radio"]:not(:checked) + span:before,
.tm-font-big [type="radio"]:not(:checked) + span:after,
.tm-font-big [type="radio"] + span:before,
.tm-font-big [type="radio"] + span:after {
  width: 30px;
  height: 30px;
}

.tm-font-big [type="radio"]:not(:checked) + span,
.tm-font-big [type="radio"]:checked + span {
  height: 35px;
  line-height: 35px;
}

.tm-font-big [type="radio"]:not(:checked) + span,
.tm-font-big [type="radio"]:checked + span {
  padding-left: 50px;
}

.tm-form-white [type="radio"]:checked + span:after,
.tm-form-white [type="radio"].with-gap:checked + span:before,
.tm-form-white [type="radio"].with-gap:checked + span:after {
  border-color: black;
}

.tm-form-white [type="radio"]:checked + span:after,
.tm-form-white [type="radio"].with-gap:checked + span:after {
  background-color: black;
}

.tm-font-big *,
.tm-font-big [type="radio"]:not(:checked) + span,
.tm-font-big [type="radio"]:checked + span,
.tm-font-big .select-wrapper input.select-dropdown {
  font-size: 1.2rem;
}

.btn-white {
  background-color: white;
  color: black;
  border-radius: 5px;
  text-transform: capitalize;
}

.btn-white:hover,
.btn-white:focus {
  background-color: #ccc;
}

.tm-border-radius-0 {
  border-radius: 0;
}

.tm-form-white textarea {
  background-color: white;
  border: none;
  border-radius: 5px;
}

.tm-form-white .select-wrapper input.select-dropdown {
  box-sizing: border-box;
}

.tm-form-white .select-wrapper .caret {
  right: 15px;
}

.tm-form-group-2-col {
  max-width: 245px;
}

.tm-form-group-2-col-r {
  margin-right: 0;
  margin-left: auto;
}

.tm-px-5 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.tm-mt-big {
  margin-top: 220px;
}

.tm-footer-text-small {
  font-size: 0.9rem;
}

.tm-flex-lr {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 400px) {
  .tm-form-block {
    padding: 15px;
  }

  .col-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .tm-pr-xs-0 {
    padding-right: 0;
  }

  .tm-pl-xs-0 {
    padding-left: 0;
  }
}

@media (max-width: 767px) {
  #register {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .tm-register-col-l,
  .tm-register-col-r {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }

  .tm-register-row {
    flex-direction: column-reverse;
  }

  .tm-form-group-2-col {
    max-width: none;
  }

  .tm-form-group-2-col-l {
    padding-right: 0;
  }

  .tm-form-group-2-col-r {
    padding-left: 0;
  }

  .tm-form-pad-big {
    padding: 20px 30px;
  }

  .tm-signup-form {
    max-width: none;
    margin-right: auto;
    margin-left: auto;
  }

  .tm-login-l {
    margin-top: 35px;
  }

  .tm-home-list {
    margin-top: 40px;
  }

  .tm-home-left,
  .tm-home-list {
    margin-left: auto;
    margin-right: auto;
  }

  .tm-home-container {
    margin-bottom: 100px;
  }
}

@media (max-width: 400px) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }

  .tm-px-5 {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .tm-flex-lr {
    flex-direction: column-reverse;
    min-height: 100px;
  }

  #login .container {
    margin-top: 50px;
  }

  .tm-mt-big {
    margin-top: 80px;
  }
}
