{% extends "base.html" %}

{% block title %} Restaurante seleccionado - FoodyBA{% endblock %}

{% block styles %}
    <link href="{{ url_for('static', filename='bootstrap/resto_bootstrap.min.css') }}" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/tempusdominus-bootstrap-4.min.css') }}" rel="stylesheet" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/seleccion_resto.css') }}">
{% endblock %}

{% block content %}
  </head>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="page-content">
            <div class="row">
              <h1>
                <span class="heart"> &#10084; </span>
                NOMBRE RESTAURANTE
              </h1>
              <div class="col-lg-12">
                <div class="main-profile ">
                  <div class="row">
                    <div class="col-lg-4">
                      <img src="{{ url_for('static', filename='media/img/resto_prueba.jpeg') }}" alt="" style="border-radius: 23px;">
                    </div>
                    <div class="col-lg-4 align-self-center">
                      <div class="main-info header-text">
                        <h4>Calificación</h4>
                        <div class="stars"></div>
                        <br>
                        <br>
                        <p>Ubicación.</p>
                        <div class="main-border-button">
                          <a href="#">Reservar</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 align-self-center">
                      <ul>
                        <li>Categoría</li>
                        <li>Tipo de cocina</li>
                        <li>Característica 3</li>
                        <li>Característica 4</li>
                      </ul>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="clips">
                        <div class="row">
                          <div class="col-lg-12">
                            <div class="heading-section">
                              <h4><em>Descripción</em></h4>
                            </div>
                          </div>
                          <div class="col-lg-100 col-sm-100">
                            <div class="item">
                              <div class="thumb">
                              </div>
                              <div class="down-content">
                                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis accusantium molestiae necessitatibus quaerat voluptates cupiditate aliquam minus nostrum, ad ratione, saepe culpa. Explicabo ea qui, aspernatur ratione beatae iste quae!</li>
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-12">
                            <div class="main-button">
                              <a href="#">Ver Menú</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- RESERVA Y MAPA -->
            <div class="gaming-library profile-library">
              <div class="col-lg-12">
                <div class="heading-section">
                  <h4><em>Reservas</em> (METER MAPA)</h4>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="map-container">
                    <iframe
                      class="map-frame"
                      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3163.136657876158!2d139.69170621530928!3d35.68948752589844!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188cd3b1a67baf%3A0x2c2f9f7c6dcb908a!2sShinjuku%2C%20Tokyo!5e0!3m2!1sen!2sjp!4v1617644748372!5m2!1sen!2sjp"
                      allowfullscreen=""
                      referrerpolicy="no-referrer-when-downgrade">
                    </iframe>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="booking">
                    <div class="container">
                      <div class="row align-items-center">
                        <div class="col-lg-12">
                          <div class="booking-form">
                            <form>
                              <div class="control-group">
                                <div class="input-group">
                                  <input type="text" class="form-control" placeholder="Titular de la reserva" required="required" />
                                  <div class="input-group-append">
                                    <div class="input-group-text"><i class="far fa-user"></i></div>
                                  </div>
                                </div>
                              </div>
                              <div class="control-group">
                                <div class="input-group">
                                  <input type="email" class="form-control" placeholder="Correo electrónico" required="required" />
                                  <div class="input-group-append">
                                    <div class="input-group-text"><i class="far fa-envelope"></i></div>
                                  </div>
                                </div>
                              </div>
                              <div class="control-group">
                                <div class="input-group">
                                  <input type="text" class="form-control" placeholder="Teléfono" required="required" />
                                  <div class="input-group-append">
                                    <div class="input-group-text"><i class="fa fa-mobile-alt"></i></div>
                                  </div>
                                </div>
                              </div>
                              <div class="control-group">
                                <div class="input-group date" id="date" data-target-input="nearest">
                                  <input type="text" class="form-control datetimepicker-input" placeholder="Fecha" data-target="#date" data-toggle="datetimepicker" />
                                  <div class="input-group-append" data-target="#date" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
                                  </div>
                                </div>
                              </div>
                              <div class="control-group">
                                <div class="input-group time" id="time" data-target-input="nearest">
                                  <input type="text" class="form-control datetimepicker-input" placeholder="Horario" data-target="#time" data-toggle="datetimepicker" />
                                  <div class="input-group-append" data-target="#time" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="far fa-clock"></i></div>
                                  </div>
                                </div>
                              </div>
                              <div class="control-group">
                                <div class="input-group">
                                  <select class="custom-select form-control">
                                    <option selected>Cantidad de personas</option>
                                    <option value="1">1 Persona</option>
                                    <option value="2">2 Personas</option>
                                    <option value="3">3 Personas</option>
                                    <option value="4">4 Personas</option>
                                    <option value="5">5 Personas</option>
                                    <option value="6">6 Personas</option>
                                    <option value="7">7 Personas</option>
                                    <option value="8">8 Personas</option>
                                    <option value="9">9 Personas</option>
                                    <option value="10">10 Personas</option>
                                  </select>
                                  <div class="input-group-append">
                                    <div class="input-group-text"><i class="fa fa-chevron-down"></i></div>
                                  </div>
                                </div>
                              </div>
                              <div>
                                <button class="btn custom-btn" type="submit">Reservar</button>
                              </div>
                            </form>
                          </div>
                        </div> 
                      </div> 
                    </div> 
                  </div>
                </div> 
              </div> 
            </div> 
            <!-- FINAL RESERVA Y MAPA -->
          </div>
        </div>
      </div>  
    </div>  
  
    <br>

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <p>Copyright © 2036 <a href="#">Cyborg Gaming</a> Company. All rights reserved. 
            <br></p>
          </div>
        </div>
      </div>
    </footer>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/resto_bootstrap.min.js') }}"></script>

    <script src="{{ url_for('static', filename='js/isotope.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/owl-carousel.js') }}"></script>
    <script src="{{ url_for('static', filename='js/tabs.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popup.js') }}"></script>
    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>

    <!-- Scripts de reserva -->
    <script src="{{ url_for('static', filename='js/easing.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/moment-timezone.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/tempusdominus-bootstrap-4.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}